.card-container {
    max-width: 200px;
    min-height: 350px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-container .img-container {
    min-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container .img-container img {
    width: 70%;
}

.card-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-text-container .card-price {
    font-weight: 700;
    margin-bottom: 5px;
} 

.card-text-container .card-description {
    text-align: center;
}